<div class="container-fluid">
    <div class="slider">
        <ul class="slides container">
            <li class="slide1">
                <img src="../assets/images/banners/banner-aquaman.jpg" class="responsive-img">
                <div class="caption left-align">
                    <h2>AQUAMAN</h2>
                    <p class="light grey-text text-lighten-3">Aquaman must retrieve the legendary Trident of Atlan to save the underwater city of Atlantis, and the surface world, from his power-hungry brother.</p>
                    <div class="row mt-4">
                        <a class="waves-effect waves-light btn-small yellow black-text">WATCH NOW</a>
                        <a class="waves-effect waves-light btn-small transparent">MORE INFO</a>
                    </div>
                </div>
            </li>
            <li class="slide2">
                <img src="../assets/images/banners/banner-bumblebee.jpg" class="responsive-img">
                <div class="caption left-align">
                    <h2>Bumblebee</h2>
                    <p class="light grey-text text-lighten-3">In 1987, Charlie, a teenager, finds Bumblebee, badly injured, in the junkyard where he had arrived while fleeing. As she restores him, Charlie realizes that what she has found is no ordinary yellow Volkswagen.</p>
                    <div class="row mt-4">
                        <a class="waves-effect waves-light btn-small yellow black-text">WATCH NOW</a>
                        <a class="waves-effect waves-light btn-small transparent">MORE INFO</a>
                    </div>
                </div>
            </li>
            <li class="slide3">
                <img src="../assets/images/banners/banner-venom.png" class="responsive-img">
                <div class="caption left-align">
                    <h2>VENOM</h2>
                    <p class="light grey-text text-lighten-3">Journalist Eddie Brock is investigating Carlton Drake, the famous founder of the Life Foundation. Brock establishes a symbiosis with an alien entity that offers him superpowers, but the being takes over his personality and makes him
                        evil.
                    </p>
                    <div class="row mt-4">
                        <a class="waves-effect waves-light btn-small yellow black-text">WATCH NOW</a>
                        <a class="waves-effect waves-light btn-small transparent">MORE INFO</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-movies></app-movies>
